@import 'compass';

@include global-reset;

$base-font-size:      12px;
$base-line-height:    $base-font-size * 1.25;
$base-font-family:    sans-serif;
$heading-font-family: serif;

$background-color: #fff;
$text-color:       #000;

@include establish-baseline;

html { background-color: $background-color; }
body { font-family: $base-font-family; }

h1, h2, h3, h4, h5, h6 { font-family: $heading-font-family; }

#videos {
  $image-width: 120px;
  $image-height: 90px;
  border-top: 1px solid darken($background-color, 75%);

  li {
    background: magick-canvas($image-width, $image-height,
      magick-fill(#000)
    ) repeat-y;
    border-bottom: 1px solid darken($background-color, 75%);
  }

  a {
    color: $text-color;
    display: block;
    text-decoration: none;
    min-height: $image-height;
    padding-top: 1em;
    padding-right: 0.5em;
    padding-bottom: 1em;
  }

  img {
    float: left;
    width: $image-width;
    margin-right: 0.5em;
    height: $image-height;
  }

  h2 {
    font-weight: bold;
  }

  small {
    @include adjust-font-size-to($base-font-size * 0.75);
    color: lighten($text-color, 25%);
  }

  .controls {
    background-color: #000;
    padding: 0.5em 0.5em 2em 0.5em;
    text-align: center;
  }

  .toggle {
    @include adjust-font-size-to($base-font-size);

    span {
      @include inline-block;
      padding: 0.25em 1em;
    }
  }

  .volume {
    @include inline-block;
    margin-left: 2em;

    span {
      @include inline-block;
      width: 1.5em;
      height: 24px;
    }

    .off { background-color: red; }
    .on  { background-color: green; }
  }
}
