.has-back-button .ui-page-title { padding-top: 0.85em; }

.loading { text-align: center; }

#list-unwatched > .ui-button:first-child { border-top: 1px solid rgba(0, 0, 0, 0.25); }
#list-unwatched > .ui-button:first-child, #list-unwatched > .ui-button:last-child { border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }
#list-unwatched > .ui-button { height: 90px; position: relative; padding: 5px 36px 5px 130px; white-space: normal; line-height: 100%; text-align: left; }
#list-unwatched > .ui-button .thumbnail { position: absolute; top: 0; left: 0; opacity: 0.75; }
#list-unwatched > .ui-button .title { font-size: 100%; line-height: 100%; text-align: left; }
#list-unwatched > .ui-button .user, #list-unwatched > .ui-button .time { display: block; font-size: 80%; line-height: 120%; }

#player-volume { margin-top: 20px; border: 1px solid rgba(0, 128, 0, 0.75); border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; height: 24px; display: table; width: 100%; }
#player-volume .on  { display: table-cell; background-color: rgba(0, 128, 0, 0.5); }
#player-volume .off { display: table-cell; background-color: rgba(0, 128, 0, 0.1); }
